---
permalink: /styles.css
---

html {
  font-size: 2.0vw;
  text-align: left;
}

@media all and (min-width:1000px) {
  html { font-size: 20px; }
}

@media all and (max-width:520px) {
  html{ font-size: 14px; }
}

html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  display: block;
  margin: 1rem auto;
  max-width: 33rem;
  text-align: left;
}

header[role=banner] {
  border-bottom: 1px dashed black;
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

p {
  margin: 1rem 0;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

body > footer {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

footer[role=contentinfo] {
  text-align: right;
}

footer[role=contentinfo] ul {
  list-style-type: none;
}

footer[role=contentinfo] ul li {
  display: inline;
}

footer[role=contentinfo] ul li:after {
  content: ' | '
}

footer[role=contentinfo] ul li:last-child:after {
  content: none;
}

footer[role=disclaimer] {
  font-style: italic;
  margin-top: 2rem;
  border-top: 1px dashed black;
}


/* List Styles */

.lowerAlphaInParentheses {
  counter-reset: lowerAlphaInParentheses;
}

.lowerAlphaInParentheses > li {
  list-style: none;
  position: relative;
}

.lowerAlphaInParentheses > li:before {
  content: "(" counter(lowerAlphaInParentheses, lower-alpha) ") ";
  counter-increment: lowerAlphaInParentheses;
  display:block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

.lowerRomanInParentheses {
  counter-reset: lowerRomanInParentheses;
}

.lowerRomanInParentheses > li {
  list-style: none;
  position: relative;
}

.lowerRomanInParentheses > li:before {
  content: "(" counter(lowerRomanInParentheses, lower-roman) ") ";
  counter-increment: lowerRomanInParentheses;
  display:block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

.arabicInParentheses {
  counter-reset: arabicInParentheses;
}

.arabicInParentheses > li {
  list-style: none;
  position: relative;
}

.arabicInParentheses > li:before {
  content: "(" counter(arabicInParentheses) ") ";
  counter-increment: arabicInParentheses;
  display:block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

.upperAlphaInParentheses {
  counter-reset: upperAlphaInParentheses;
}

.upperAlphaInParentheses > li {
  list-style: none;
  position: relative;
}

.upperAlphaInParentheses > li:before {
  content: "(" counter(upperAlphaInParentheses, upper-alpha) ") ";
  counter-increment: upperAlphaInParentheses;
  display:block;
  left: -2rem;
  position: absolute;
  user-select: text;
}

/* Commentary */

aside {
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  padding: 0.8rem;
}

aside:before {
  content: 'Commentary:';
  font-weight: bold;
}
