<footer role=disclaimer>
  <p>The layers making this site available for free <a href=https://notlegaladvice.law>can’t stand professionally accountable to you for using these materials</a>.  If you have specific concerns or a complex situation, please find a lawyer near you.  The referral service of the bar association for your city, county, or state is a great place to start.</p>
</footer>
<footer role=contentinfo>
  <ul>
    <li><a href="{{site.repository_url}}">Source Code</a></li>
    <li><a href="{{site.repository_url}}/commits/master/{{page.path}}">Page History</a></li>
  </ul>
</footer>
</body>
</html>
