<!doctype html>
<html lang=en-US>
<head>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Prepper Paper</title>
  <link href=/styles.css rel=stylesheet>
  <!-- Twitter Card -->
  <meta name=twitter:card content=summary>
  <meta name=twitter:title content="{{site.title}}">
  <meta name=twitter:description content="{{site.description}}">
  <!-- OpenGraph -->
  <meta name=og:type content=website>
  <meta name=og:title content="{{site.title}}">
  <meta name=og:description content="{{site.description}}">
</head>
<body>
<header role=banner>
  <h1>Prepper Paper</h1>
  <p>the paper you actually need</p>
</header>
